@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <ul>
        <li class="menu-trigger" data-menu="#userMenu" >
            <a href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <ul id="userMenu">
                <li><a asp-action="Logout" asp-controller="Home"><span class="nest">- </span>Logout</a></li>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><span class="nest">- </span>Details</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <span><a id="login" asp-page="/Account/Login" asp-area="Identity">Login</a></span>
}