/* Mobile first queries */
/* Larger than mobile */
@media (min-width: 400px) {
  nav.primary select {
    display: none; }
  nav.primary span.nest {
    display: none; } }

/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
body {
  margin-top: 20px;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem; }

nav.primary ul, nav.primary ul li {
  margin: 0; }

nav.primary {
  display: flex;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
  margin-bottom: 1rem; }
  nav.primary > div {
    display: flex; }
  nav.primary .separator {
    display: inline-block;
    -webkit-flex-grow: 1;
    flex-grow: 1; }
    nav.primary .separator:hover {
      background-color: transparent; }
  nav.primary span {
    display: inline-block;
    -webkit-flex-grow: 0;
    flex-grow: 0; }
    nav.primary span > a {
      display: block;
      color: black;
      text-decoration: none;
      padding: 7px 14px;
      color: black;
      border-left: 1px solid #D6D6D6; }
      nav.primary span > a:hover {
        color: #ED5973; }
    nav.primary span:hover {
      color: #ED5973; }
    nav.primary span.active > a {
      color: #ED5973; }
  nav.primary div span:last-child {
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0; }
  nav.primary ul {
    display: flex;
    list-style: none;
    display: inline-block;
    -webkit-flex-grow: 0;
    flex-grow: 0; }
    nav.primary ul li {
      display: inline-block;
      padding: 7px 14px;
      position: relative;
      border-left: 1px solid #D6D6D6; }
      nav.primary ul li a {
        display: block;
        text-decoration: none;
        color: black; }
      nav.primary ul li:first-child {
        -moz-border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px;
        border-left: none; }
      nav.primary ul li.active > a {
        color: #ED5973; }
      nav.primary ul li:hover > a {
        color: #ED5973; }

nav.primary ul ul {
  position: absolute;
  min-width: 100%;
  z-index: 1000;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
  white-space: nowrap; }
  nav.primary ul ul.show-menu {
    height: auto;
    overflow: auto;
    opacity: 1; }
  nav.primary ul ul li {
    display: list-item; }
    nav.primary ul ul li a {
      display: block; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.dl-horizontal dt {
  font-weight: bold;
  margin-top: 1rem; }
  .dl-horizontal dt:first-child {
    margin-top: 0; }

.dl-horizontal dd {
  margin: 0; }

hr {
  margin: 1rem 0; }

.phone-number > span {
  font-size: 18px; }

.logo {
  color: black;
  text-decoration: none; }
  .logo span {
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase; }

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.form-control {
  width: 100%; }

.tool-card {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 2px 2px 6px #171717;
  -webkit-box-shadow: 2px 2px 6px #171717;
  box-shadow: 2px 2px 6px #171717;
  margin-top: 1rem; }
  .tool-card-title {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(211, 240, 255, 0.61);
    padding: 1rem;
    padding-bottom: 0; }
  .tool-card-body {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 1rem; }
    .tool-card-body p {
      width: 80%; }
    .tool-card-body-img {
      width: 20%; }
    .tool-card-body img {
      width: 100%;
      height: auto;
      border: 1px solid black; }
  .tool-card-actions {
    padding: 0 2rem 2rem 2rem; }

.detail-top {
  display: block;
  -webkit-justify-content: center;
  justify-content: center; }

.solid-bottom {
  border-bottom: 2px solid black; }

.ctg-video {
  width: 100%; }

.ctg-questions {
  margin-top: 1rem; }

.hidden {
  display: none; }

.button-save {
  position: fixed;
  bottom: 10px;
  right: 10px; }

.ctg-label {
  font-weight: bold; }

div.ctg-row:nth-of-type(2n+1) {
  background-color: rgba(211, 240, 255, 0.61); }

.validation-summary-errors {
  color: red; }
  .validation-summary-errors ul {
    list-style: none; }

.responsive-img {
  width: 100%;
  height: auto; }

.pt-2 {
  padding-top: 32px; }

.pb-2 {
  padding-bottom: 32px; }

.button-nav {
  width: 100%; }

/* Mobile first queries */
/* Larger than mobile */
@media (max-width: 400px) {
  nav.primary > div {
    display: none; }
  nav.primary select {
    margin: auto; } }

/* Larger than phablet */
@media (max-width: 550px) {
  .side-logo {
    display: none; }
  .center {
    text-align: center; }
  .u-pull-right {
    float: none; }
  .tool-card .tool-card-body img {
    display: none; } }

/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */

